<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="trikita.talalarmo"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application android:name=".App" android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name=".MainActivity"
                  android:theme="@style/AppTheme"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings">
        </activity>

        <activity android:name=".alarm.AlarmActivity" android:theme="@style/AppTheme" />
        <receiver android:name=".alarm.AlarmReceiver" />
        <receiver android:name=".alarm.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".alarm.AlarmService" />
    </application>
</manifest>
